.accordion-body{
    border-radius: 50px;
}

.form-select{
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--primary);
    margin-bottom: 20px;
    outline: none !important;
    box-shadow: none;
}
.form-select:focus{
    outline: none !important;
    box-shadow: none;
}

option{
    box-shadow: none;
    outline: none;
    background-color: var(--primary);
}

input{
    background: var(--background);
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px ;
}
.accordion-header{
    border-radius: 16px;
    background-color: unset !important;
}
.accordion-item{
    background-color: var(--primary);
    border: none;
    border-radius: 16px;
}
.accordion-button {
    background-color: unset !important;
}
.accordion-button:not(.collapsed) {
    color: var(--secondary);
    background-color: unset !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    
}

.accordion-body {
    background-color: var(--primary);
    border-radius: 16px;
}

.bi{
    color: var(--blue);
}

.green {
    background-color: #0C1C0C;
    border-radius: 10px;
}
.red {
    background-color: #210C0C;
    border-radius: 10px;
}
.btn-ovp{background-color: var(--orange);}
.btn-ovp:after       { content:'#OVP'; }
.btn-ovp:hover:after { content:'Copiar'; }

.btn-exp{background-color: var(--orange);}
.btn-exp:after       { content:'#EXP'; }
.btn-exp:hover:after { content:'Copiar'; }

.btn-approve{background-color: var(--blue);}
.btn-approve:after       { content:'Aprovado'; }
.btn-approve:hover:after { content:'Copiar'; }

.btn-website{background-color: var(--blue);}
.btn-website:after       { content:'Website'; }
.btn-website:hover:after { content:'Copiar'; }

.btn-app{background-color: var(--blue);}
.btn-app:after       { content:'Aplicativo'; }
.btn-app:hover:after { content:'Copiar'; }

.btn-outros{background-color: var(--blue);}
.btn-outros:after       { content:'Canal de vendas'; }
.btn-outros:hover:after { content:'Copiar'; }

.btn-fraude{background-color: var(--red);}
.btn-fraude:after       { content:'Fraude'; }
.btn-fraude:hover:after { content:'Copiar'; }

.btn-fraude2{background-color: var(--red);}
.btn-fraude2:after       { content:'Não inf. idade'; }
.btn-fraude2:hover:after { content:'Copiar'; }

.btn-cancel{background-color: var(--orange);}
.btn-cancel:after       { content:'cancelado'; }
.btn-cancel:hover:after { content:'Copiar'; }

.btn-clean{
    background-color: var(--orange);
    margin-top: 10px;
}

.salvar{background-color: var(--marine);}
.salvar:after       { content:'Salvar'; }