* {
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}

.navbar{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 60px;
    border-radius: 0px 0px 16px 16px;
    text-align: center;
    align-items: center;
}
.navicon{
    fill: blue;
}
header{
    margin-bottom: 50px;
}
.green{
    background-color: #0C1C0C;
    border-radius: 10px;
    position: static;
}
.red{
    background-color: #210C0C;
    border-radius: 10px;
}

.tags{
    border: 1,90px solid;
    border-radius: 14px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
}
.aprovado{
    border-color: var(--blue);
}
.aprovado:hover{
    background-color: var(--blue);
    border-color: var(--blue);
}
.fraude{
    border-color: var(--red);
}
.fraude:hover{
    background-color: var(--red);
    border-color: var(--red);
}
.cancelado{
    border-color: var(--orange);
}
.cancelado:hover{
    border-color:  var(--orange);
    background-color: var(--orange);
}
.fila{
    border-color: var(--green);
}
.fila:hover{
    border-color: var(--green);
    background-color: var(--green);
}


.quadrado{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 160px;
    border-radius: 16px;
    text-align: center;
    align-items: center;
}
.quadrado_tags{
    padding: 10px;
    background-color: var(--primary);
    width: 220px;
    height: 400px;
    border-radius: 16px;
    text-align: center;
    margin: auto;
    align-items: center;
}
section{
    padding-top: 7px;
    padding-bottom: 7px;
}
.col-auto{
    padding: 0px;
    margin: auto;
}

.txt_total{
    margin:auto;
    margin-bottom: 0;
    padding:0;
    font-size: 32px;
}
.logo{
    height: 200px;
    width: 200px;
}
.star_left{
    margin: auto;
    padding-left: 40px;
    padding-right: 0px;
}
.star_right{
    margin: auto;
    padding-left: 0px;
    padding-right: 40px;
}

.btn_circle{
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
}

.circle_black{
    background-color: var(--primary);
}

.circle_white{
    background-color: var(--secondary);
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }
.txt_tags{
    padding-bottom: 10px;
}

.check-center{  
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

