.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flex-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
body{
    padding: 0px 10px 0px 10px;
	background-color: var(--background);
}
.col-auto{
    margin: 0px 10px 0px 10px auto;
    padding: 0px;
}

.accordion{
  max-width: 270px;
}
.container{
  padding: 3.9px;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-famil

/*Fonts */
h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--secondary);
    margin: 0 auto;
}
h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary);
    margin: 0 auto;
}
h3,input{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--secondary);
    font-size: 1rem;
    margin: 0 auto;
}
p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: var(--secondary);
    font-size: 0.6rem;
    margin: 0 auto;
}

.accordion-button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--seondary);
    font-size: 0.9rem;
    margin: 0 auto;
}
button{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: var(--primary);
    font-size: 0.9rem;
    margin: 0 auto;
  }
  button:hover::after{
    color: var(--secondary);
  }
.button{
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    transition: .2s ease-in-out 0s;
    padding: 7px 15px 7px 15px;
    
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: var(--primary);
}
option{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: var(--secondary);
    font-size: 0.9rem;
}

/*ESPAÇAMENTOS */
.bt-10{
    margin-bottom: 10px;
}
#txt_total{
    margin-top: 10px;
    padding-bottom: 10px;
}
#localProd{
    padding-top: 10px;
    padding-bottom: 10px;
}
#timeText{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*ESPAÇAMENTOS */


::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}