body{
    background: url(/assets/clear-bg.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.box{

    padding: 10px;
}

.container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1.6fr 1.3fr 0.7fr; 
    grid-template-rows: 2.1fr 0.4fr 0.6fr;
    grid-template-areas: 
    'box-1 box-2 box-2'
    'box-1 box-2 box-2'
    ;
}

.box-1{
    grid-area: box-1;
    text-align: left;
}
.box-2{
    grid-area: box-2;
}

.title_homepage{
    font-size: 50px;
    text-align: left;
    color: #ff4800 ;
}
.subtitle_homepage{
    padding-top: 10px;
    font-weight: 400;
    text-align: left;
    font-size: 15px;
    color: white;
    padding-bottom: 50px;
}

.btn_homepage{
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
    color: var(--secondary);
    background: #ff4800;

    transition: .2s ease-in-out 0s;
}




.btn_homepage:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: white;
    color: var(--primary);
    
}


.img_home{
    padding-top: 80px;
    height: 500px;
}
